



<div class="container" *ngIf="!isLoading">

    <div [formGroup]="formLogin" class="row">
        <div class="col-12 py-1">
            <mat-form-field appearance="outline">
                <mat-label>Enter your Username</mat-label>
                <input matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>
        </div>
        <div class="col-12 py-1">
            <mat-form-field appearance="outline">
                <mat-label>Enter your Password</mat-label>
                <input matInput placeholder="Password" formControlName="password" type="password" required>
            </mat-form-field>
        </div>

        <div class="col-12 py-1 d-flex justify-content-center">
            <button mat-button [disabled]="formLogin.invalid" (click)="onLogin()" class="yellow-button w-50">
                Login
            </button>
        </div>

    </div>
</div>
