<footer class="section footer-area footer-bg">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">
                            <img class="logo" src="assets/img/logo.png">
                        </a>
                        <p class="text-white-50 mt-2 mb-3">Connectify, trouver les meilleurs freelances n’a jamais été aussi simple</p>
                        <!-- Social Icons -->
                        <div class="social-icons d-flex">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fab fa-linkedin"></i>
                                <i class="fab fa-linkedin"></i>
                            </a>
                     
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2">Nos solutions</h3>
                        <ul>
                            <li class="py-2"><a class="text-white-50" href="#">Connectify</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Pourquoi nous rejoindre</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Blog</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2">Important</h3>
                        <ul>
                            <li class="py-2"><a class="text-white-50" href="#">FAQ</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Privacy Policy</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Support</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Terms &amp; Conditions</a></li>
                       
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <!-- Copyright Left -->
                        <div class="copyright-left text-white-50">&copy; Copyrights 2020 Appo All rights reserved.</div>
                        <!-- Copyright Right -->
                        <div class="copyright-right text-white-50">Made by Solteco Group</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>