<section id="home" class="section welcome-area bg-inherit d-flex align-items-center overlay-primary jarallax h-100vh pt-0" data-jarallax-video="https://www.youtube.com/watch?v=hs1HoLs4SD0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-10 col-lg-8">
                <div class="welcome-intro text-center">
                    <div class="breadcrumb-content d-flex flex-column align-items-center text-center">
                  
                        <h1 class="glitch is-glitching" data-text="Pourquoi nous rejoindre !">Pourquoi nous rejoindre !</h1>
                   
               
                </div>
                    <h1 class="text-white">Rejoins 10000+ freelances passionnés </h1>
                    <p class="text-white mt-4 mb-5">Rejoindre la communauté comet c’est accéder en toute sécurité à des missions qui te correspondent mais aussi construire le futur du travail à nos côtés.</p>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username">
                        <div class="input-group-append">
                            <button class="btn btn-bordered-white" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>