<section id="features" class="section features-area ptb_100">
    <div class="shapes-container">
        <div class="shape bg-shape"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="features-text">
                    <!-- Headings -->
                    <div class="headings d-flex align-items-center mb-4">

                        <h2 class="text-capitalize" style="color: darkblue;">Une plateforme unique pour trouver les meilleurs freelances.</h2>
                    </div>
                    <p class="my-3">Nous bâtissons et développons une communauté de plusieurs milliers d’experts “data”, développeurs et bien d’autres, et la mettons GRATUITEMENT à votre disposition . </p>
                    <!-- Counter List -->
                    <div class="counter-list">
                        <ul>
                            <li>
                                <!-- Single Counter -->
                                <div class="single-counter px-4 py-3 text-center">
                                    <!-- Counter Icon -->
                                    <div class="counter-icon">
                                        <i class="icofont-repair"></i>
                                    </div>
                                    <!-- Counter Text -->
                                    <div class="counter-text">
                                        <span class="counter d-inline-block mt-3 mb-2">10000</span><b style="font-size: larger;">+</b>
                                        <b> <p>Utilisateurs</p></b><BR>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <!-- Single Counter -->
                                <div class="single-counter px-4 py-3 text-center">
                                    <!-- Counter Icon -->
                                    <div class="counter-icon">
                                        <i class="icofont-heart-alt"></i>
                                    </div>
                                    <!-- Counter Text -->
                                    <div class="counter-text">
                                        <span class="counter d-inline-block mt-3 mb-2">1500</span><b style="font-size: larger;">+</b>
                                        <b><p>Clients</p></b><br>
                                    </div>
                                </div>
                            </li>
                       
                            <li>
                                <!-- Single Counter -->
                                <div class="single-counter px-4 py-3 text-center">
                                    <!-- Counter Icon -->
                                    <div class="counter-icon">
                                        <i class="icofont-beard"></i>
                                    </div>
                                    <!-- Counter Text -->
                                    <div class="counter-text">
                                        <span class="counter d-inline-block mt-3 mb-2">4000</span><b style="font-size: larger;">+</b>
                                       <b> <p>Freelances <br> en DATA</p></b>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- Single Counter -->
                                <div class="single-counter px-4 py-3 text-center">
                                    <!-- Counter Icon -->
                                    <div class="counter-icon">
                                        <i class="icofont-safety"></i>
                                    </div>
                                    <!-- Counter Text -->
                                    <div class="counter-text">
                                        <span class="counter d-inline-block mt-3 mb-2">3500</span><b style="font-size: larger;">+</b>
                                        <b> <p>Freelances <br> en Développement</p></b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <!-- Featured Items -->
                <div class="featured-items">
                    <ul>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-1">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_1.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Entièrement gratuite</h3>
                                    <p>Que vous soyez freelance ou client, Connectify vous propose d’accéder à la communauté et de trouver ce que vous recherchez gratuitement.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_2.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Simmple & Accessible</h3>
                                    <p>Trouvez ce que vous recherchez en quelques clics !</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media ">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_3.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Dashboard personnalisé</h3>
                                    <p>Créez votre compte et accédez à un dashboard très personnalisé et développé pour permettre aux clients et freelances de suivre de près leurs missions ET leur communauté</p>
                                </div>
                            </div>
                        </li>
                  
                        <li>
                            <!-- Single Features Item -->
                            <br>
                            <div class="single-features media">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_4.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Une belle communauté de freelances</h3>
                                    <p>En tant que freelance, vous aurez la possibilité d’utiliser notre outil de chat intégré pour échanger avec les autres freelances</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>