<section class="section login-area h-100vh py-4">
    <div class="container">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto d-none d-md-block">
                <div class="login-slider owl-carousel">
                    <img src="assets/img/login_1.svg" alt="">
                    <img src="assets/img/login_2.svg" alt="">
                    <img src="assets/img/login_3.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <!-- Appo Modal -->
                <div >
                    <!-- Modal Content -->
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header p-0 border-0">
                            <ul class="nav nav-pills" id="pills-tab">
                                <li class="nav-item">
                                    <a class="navbar-brand" href="#">
                                        <img class="logo" src="assets/img/logo.png" alt="">Bienvenue sur Connectify</a>
                                </li>
                                <li>
                                    <p _ngcontent-lvr-c100="" class="my-3">
                                        Veuillez vous connecter ou remplir une mission.
                                    </p>
                                    <div _ngcontent-cnl-c100="" class="button-group">
                                        <a _ngcontent-cnl-c100="" routerLink="/formTwo"
                                            class="btn btn-bordered d-none d-lg-inline-block">
                                            <span _ngcontent-cnl-c100="">Remplir une mission</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div _ngcontent-cnl-c100="" class="button-group">
                                        <a _ngcontent-cnl-c100="" routerLink="/login"
                                            class="btn btn-bordered d-none d-lg-inline-block">
                                            <span _ngcontent-cnl-c100="">Se connecter</span>
                                        </a>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>