<h2 style="text-align: center;">Trouvez votre freelance en 4 clics !</h2>
<br>
<br>
<section class="section work-area ptb_100">
    <!-- Work Slider Wrapper -->
    <div class="work-wrapper d-none d-md-block">
        <div class="work-slider-wrapper" data-aos="zoom-in">
            <!-- Work Slider -->
            <ul class="work-slider owl-carousel">
                <li class="slide-item">
                    <img src="assets/img/screenshot_1.png" alt="">
                </li>
                <li class="slide-item">
                    <img src="assets/img/screenshot_2.png" alt="">
                </li>
                <li class="slide-item">
                    <img src="assets/img/screenshot_3.png" alt="">
                </li>
                <li class="slide-item">
                    <img src="assets/img/screenshot_4.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="container">

        <!-- Work Content -->
        <div class="row justify-content-end justify-content-lg-between work-content" id="work-slider-pager">
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item active">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block text-center p-4">
                        <h3 class="mb-2">Je crée mon compte client</h3>
                        <p>Créez votre compte client en quelques secondes et accédez à une communauté de plusieurs milliers de freelances !</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block text-center p-4">
                        <h3 class="mb-2">Validation</h3>
                        <p>L’équipe Connectify vérifiera en moins de 24h que toutes les informations nécessaires ont bien été renseignées !</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block text-center p-4">
                        <h3 class="mb-2">Je saisis la mission</h3>
                        <p>Je remplis les champs relatifs à la mission en quelques minutes !</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block text-center p-4">
                        <h3 class="mb-2">Choisissez votre freelance</h3>
                        <p>Connectify vous proposera ainsi trois profils correspondant à votre recherche. Vous pourrez ainsi échanger et convenir d’un entretien !”</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>