<section id="pricing" class="section price-plan-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Soyez rassurés,
                      même les meilleurs prix sont
                      négociables.</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

              <div class="pricing-table">
                <div class="ptable-item">
                  <div class="ptable-single">
                    <div class="ptable-header">
                      <div class="ptable-title">
                        <h2>Offre Client Gold</h2>
                      </div>
                      <div class="ptable-price">
                        <h6 style="color: skyblue;">TJM du freelance +12%</h6>
                      </div>
                    </div>
                    <div class="ptable-body">
                      <div class="ptable-description">
                          <p>Cette offre est parfaite pour les clients qui souhaitent déposer simplement des missions et trouver des freelances gratuitement. </p>
                        <ul>
                          <li>Freelance verifié et qualifié</li>
                          <li>Matching en quelque heures</li>
                          <li>Prise de rendez-vous en ligne</li>
                          <li>Facturation et paiements simplifiés</li>
                          <li>Support en ligne</li>
                          <li>Échanges illimités avec les freelances sélectionnés</li>
                        </ul>
                      </div>
                    </div>
                    <div class="ptable-footer">
                      <div class="ptable-action">
                        <a href="">Trouver un Freelance</a>&nbsp;&nbsp;&nbsp;
                        <a href="">Nous contacter</a>
                      </div>
                
                    </div>
                  </div>
                </div>
              
                <div class="ptable-item featured-item">
                  <div class="ptable-single">
                    <div class="ptable-header">
                      <div class="ptable-status">
                        <span>Hot</span>
                      </div>
                      <div class="ptable-title">
                        <h2>Offre client sur-mesure</h2>
                      </div>
                      <div class="ptable-price">
                        <h6 style="color: skyblue;">L’offre adaptée à vos besoins </h6>
                      </div>
                    </div>
                    <div class="ptable-body">
                      <div class="ptable-description">
                          <p>Ce plan s’adapte à la situation de chaque entreprise prête à passer au niveau supérieur.</p>
                        <ul>
                            <li>Tous les aventages de l'offre Client Gold</li>
                          <li>Notre service commercial disponible 24/7</li>
                          <li>Commission négociable et adaptée </li>
                          <li>Utilisation de vos propres
                            contrats</li>
                
                        </ul>
                      </div>
                    </div>
                    <br> <br> <br>
                    <div class="ptable-footer">
                      <div class="ptable-action">
                        <a href="">Nous contacter</a>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
        </div>
    </div>
</section>