body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;;
  }
  
  .slider-wrapper {
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    height: 40px;
    overflow: hidden;

  }
  
  .slider > div {
    box-sizing: border-box;
    color: #FFF;
    height: 50px;
    margin-bottom: 50px;
 
    text-align: center;
  }
  
  .text1 {
    background-color: #2ed573;
    animation: slide 5s linear infinite;
  }
  
  .text2 {
    background-color: #ffa502;
  }
  
  .text3 {
    background-color: #ff4757;
  }
  
  @keyframes slide {
    0% { margin-top: -300px; }
    5% { margin-top: -200px; }
    33% { margin-top: -200px; }
    38% { margin-top: -100px; }
    66% { margin-top: -100px; }
    72% { margin-top: -0; }
    100% { margin-top: 0; }
  }