<section id="home" class="section welcome-area bg-inherit h-100vh">
    <div class="shapes-container">
        <div class="shape bg-shape"></div>
    </div>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-7 col-lg-6">
                <div class="welcome-intro text-left">
                    <h1>Fléxibilité, liberté et passion, les promesses du freelancing.</h1>
                    <p class="my-4">Vous souhaitez devenir freelance, mais vous avez des doutes ? Des questionnements ? En réalité, le freelancing présente bien plus d'avantages que vous ne le pensez ! N'hésitez plus et lancez-vous dès aujourd'hui ;)</p>
                    <a href="#" class="btn btn-bordered d-none d-md-inline-block">Je me lance</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.captaincontrat.com/articles-creation-entreprise/devenir-freelance#:~:text=que%20travailleur%20ind%C3%A9pendant.-,Devenir%20freelance%20%3A%20quel%20statut%20juridique%20%3F,entreprise%20individuelle%20et%20une%20soci%C3%A9t%C3%A9.." class="btn btn-bordered d-none d-md-inline-block">Quel statut juridique ?</a>
                    
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-6">
                <!-- Welcome Thumb -->
                <div >
                    <img src="assets/img/k.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>