<section id="home" class="section welcome-area bg-inherit d-flex align-items-center h-100vh">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-6">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb text-center">
                    <img src="assets/img/login_1.svg" alt="">
                </div>
            </div>
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-6 col-lg-5 pt-4 pt-sm-0">
                <div class="welcome-intro">
                    <h1>Des anciens de Google vous attendent.</h1>
                    <p class="my-3">Nous avons développé une communauté de plus de 10000 experts dans la DATA, le développement, la cyber-sécurité et bien d’autres encore. Nos freelances sont qualifiés et reconnus dans leurs domaines d’expertise. Nous nous assurons que leurs profils correspondent aux besoins des clients avant de les intégrer dans notre communauté d’experts.</p>
                    <div class="button-group">
                        <a href="#" class="btn btn-bordered d-none d-lg-inline-block"><span>Découvrir la communauté</span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>