<section class="section login-area signup-area h-100vh py-4">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto d-none d-md-block">
                <div class="login-slider owl-carousel">
                    <img src="assets/img/login_1.svg" alt="">
                    <img src="assets/img/login_2.svg" alt="">
                    <img src="assets/img/login_3.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <!-- Appo Modal -->
                <div class="appo-modal py-4 p-lg-4">
                    <!-- Modal Content -->
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header p-0 border-0">
                            <ul class="nav nav-pills" id="pills-tab">

                                <li class="nav-item">
                                    <a class="nav-link active" id="signup-tab" data-toggle="pill" href="#signup">Sign Up</a>
                                </li>
                            </ul>
                            <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="tab-content" id="pills-tabContent">
                                <!-- Signup Form -->
                                <div class="tab-pane fade show active" id="signup">

                                        <form class="login-form signup-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                                        <!-- Social Login -->
                                        <div class="social-login text-center">
                                            <h5 class="fw-4 mt-2 mb-3">with your social network</h5>
                                            <!-- Social Icons -->
                                            <div class="social-icons d-flex justify-content-center">
                                                <a class="facebook" href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                                <a class="twitter" href="#">
                                                    <i class="fab fa-twitter"></i>
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a class="google-plus" href="#">
                                                    <i class="fab fa-google-plus-g"></i>
                                                    <i class="fab fa-google-plus-g"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Profile Login -->
                                        <div class="profile-login mb-2 p-4">
                                            <span class="bg-white p-2">or</span>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon4"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="email" class="form-control" name="email" [(ngModel)]="form.email"  [(ngModel)]="form.email"
                                            required
                                            email
                                            #email="ngModel"
                                            placeholder="Email" />

                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                            <div *ngIf="email.errors.required">Email is required</div>
                                            <div *ngIf="email.errors.email">
                                              Email must be a valid email address
                                            </div>
                                          </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon5"><i class="fas fa-unlock-alt"></i></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="form.password" required
                                            minlength="6" #password="ngModel" />

                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                            <div *ngIf="password.errors.required">Password is required</div>
                                            <div *ngIf="password.errors.minlength">
                                              Password must be at least 6 characters
                                            </div>
                                          </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3"><i class="fas fa-user"></i></span>
                                            </div>
                                            <select name="roles" id="roles" class="form-control" aria-placeholder="role" [(ngModel)]="form.roles"  required >
                                                <option  value="Freelance" >Freelance</option>
                                                <option  value="Client">Client</option>
                                                <option  value="ESN">ESN</option>
                                              </select>
                                        </div>
                                        <div class="custom-control custom-checkbox my-4">
                                            <div class="remember">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">By clicking, you are continue to receive newsletters &amp; promotions from Appo</label>
                                            </div>
                                        </div>
                                        <!-- Signup Button -->

                                        <button href="/formOne" class="btn btn-bordered d-block">Sign Up</button>
                                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                            Signup failed!<br />{{ errorMessage }}
                                          </div>

                                    </form>
                                    <div class="alert alert-success" *ngIf="isSuccessful">
                                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
