<section id="home" class="section welcome-area bg-inherit d-flex align-items-center h-100vh">
    <div class="container">
        <div class="row align-items-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-7 col-lg-6">
                <div class="welcome-intro">
                    <h1 class="fw-5">Des tarifs <span>adaptés , </span> <span>avantageux</span> et <span>transparents</span> .</h1>
  <br>
                    <h4>Les tarifs les plus compétitifs du marché.</h4>
                    <div class="button-group">
                        <a href="#" class="btn btn-bordered">Trouver un Freelance</a>
                        <a href="#" class="btn btn-bordered d-none d-sm-inline-block">Nous contacter</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-6 pt-4 pt-md-0">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb text-center">
                    <img src="assets/img/login_2.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>