<section id="home" class="section welcome-area d-flex align-items-center h-100vh pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-10 col-lg-8">
                <div class="welcome-intro text-center">
                    <h1 class="text-white">Connectify</h1>
                    <h2 class="cd-headline clip fw-3 mt-2 mt-sm-3">

                        <span class="cd-words-wrapper">
                            <b class="text-white is-visible">La plus grande communauté de freelances</b>
                            <b class="text-white">Les meilleurs freelances, partout en Europe.</b>
                            <b class="text-white">Des anciens de Google vous attendent</b>

                        </span>
                    </h2>
                    <p class="text-white my-3">Accédez gratuitement à un réseau de plus de 3000 experts en DATA et développement, partout en Europe, et profitez de leurs expertises.
                    </p>
                    <div class="button-group">
                        <a href="/login" class="btn btn-bordered-white">Je suis freelance</a>
                        <a href="/login" class="btn btn-bordered-white">Je cherche un freelance</a>
                        <a routerLink="/formOne" class="btn btn-bordered-white"> Formulaire 1</a>
                        <a routerLink="/formTwo" class="btn btn-bordered-white"> Formulaire 2</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shapes-container">
        <div class="wave-animation">
            <!-- Wave Animation -->
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>
</section>
